@import "../utils/theme/theme.scss";

$class: "char-list";

.#{$class} {
  &__loader {
    flex: 1 1 100%;
  }

  &__cards-container {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;

    &:focus {
      outline: 0;
    }
  }
}
