@import "../utils/theme/theme.scss";

$class: "char-dialog";

.#{$class}{

    &__image {
        border-radius: 50%;
        width: 100px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
    
        @media (min-width: 600px) {
            width: 500px;
        }
    }

    &__row {
        margin-bottom: 10px;
    }

    &__error-text {
        color: $error-color;
        margin: -3px 0px 3px 0px;
        font-size: 0.75rem;
        text-align: left;
        font-weight: 400;
        line-height: 1.66;
        letter-spacing: 0.03333em;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }

    &__actions {
        padding: 0px 16px 12px 0px;
    }
}

.MuiButton-containedPrimary {
    background-color: $primary-color;
  }